<div class="flashcard" (click)="handleCardClick()" [class.flip]="isFlipped">
  <div class="flashcard-inner">
    <div class="face">
      <h1 class="kana face-kanji">右</h1>
    </div>
    <div class="details">
      <div class="stroke-container">
        <img src="../../../assets/images/kanji-stroke/N5-74.gif" class="stroke-gif" >
        <p class="stroke-text">Stroke Count: 5</p>
      </div>

      <div class="on-kun-container">
        <p class="kana on-kun-text">ウ・ユウ・みぎ</p>
      </div>

      <div class="jlpt-container">
        <p class="jlpt-text">N5</p>
      </div>

      <div class="eng-container">
        <p class="eng-text">right (direction)</p>
      </div>

      <div class="use-container">
        <div class="use-text-container">
          <p class="use-text-label">Usage:</p>
        </div>
        <div class="use-text-container">
          <p class="use-text-desc">Very common</p>
        </div>
      </div>

      <div class="rad-container">
        <div class="rad-text-container">
          <p class="rad-text-label">Radicals:</p>
        </div>
        <div class="rad-text-container">
          <p class="rad-text-desc">十・口</p>
        </div>
      </div>

      <div class="mnem-container">
        <div class="mnem-text-label">Mnemonic:</div>
        <div class="mnem-text-container">
          <p class="mnem-text">
            "<span class="mnem-key">right</span> hand on the <a class="rad-key">mouth</a>"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>