<div class="flashcard" [class.flip]="isFlipped">
  <div class="flashcard-inner">
    <div class="face" (click)="handleCardClick()">
      <h1 class="kana face-kanji">{{cardDetails?.kanji}}</h1>
    </div>
    <div class="details">
      <div class="kanji-container">
        <h1 class="kana kanji-text" (click)="handleCardClick()">{{cardDetails?.kanji}}</h1>
        <p class="stroke-text">Stroke Count: {{cardDetails?.strokes}}</p>
      </div>

      <div class="on-kun-container">
        <p class="kana on-kun-text">{{cardDetails?.onKun}}</p>
      </div>

      <div class="jlpt-container">
        <p class="jlpt-text">{{cardDetails?.jlpt}}</p>
      </div>

      <div class="eng-container">
        <p class="eng-text">{{cardDetails?.translation}}</p>
      </div>

      <div class="use-container">
        <div class="use-text-container">
          <p class="use-text-label">Usage:</p>
        </div>
        <div class="use-text-container">
          <p class="use-text-desc">{{cardDetails?.usage}}</p>
        </div>
      </div>

      <div class="rad-container">
        <div class="rad-text-container">
          <p class="rad-text-label">Radicals:</p>
        </div>
        <div class="rad-text-container">
          <p class="rad-text-desc">{{ cardDetails?.radicals?.join('・') }}</p>
        </div>
      </div>

      <div class="mnem-container">
        <div class="mnem-text-label">Mnemonic:</div>
        <div class="mnem-text-container">
          <p class="mnem-text">
            "{{cardDetails?.mnemonic}}"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
